.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #0E488F;
  color: white;
  border: solid;
  border-color: maroon;
}

.Parent-App{
  text-align: center;
}